$bodyColor : #222;
$backGroundColor : #142B4C;
$hrColor : #e7e7e7;

$aColor: #3E82C1;
$aVisitedColor : #743399;
$aHoverColor : #ff4b33;

//content.scss
$pageTitleSpan : #7B9A39;
$pageTitleLink : #888;

$entryTitleColor : #142B4C;
$entryTitleLink : #E2733B;
$entryTitleHover : #163D5F; 

$pageLink : #333;
$pageLinkHover : #ff4b33;

//navigation.scss
$navColor : #888;
$navHover : #ff4b33;

//footer.scss
$colophonBorder : #3E82C1;
