.navigation {
	color: $navColor;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: $navColor;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: $navHover;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
    display: none;
}
.single #nav-below {
    display: none;
}

